
h1,h3,h4
{
	font-weight : bold;
	margin:30px;
	border : 5px dotted blue ;
	padding : 20px ;
	text-align : center;
	font-size : 30px;
	background: #f2ffff;
}

h4
{
	font-weight :lighter;
	font-style: italic;
	border : 3px dotted blue ;
	font-size : 20px;
}

body
{
	background: url(https://cdn.vectorstock.com/i/thumb-large/11/45/4521145.jpg) bottom center;
}

.container
{
	border : 5px dashed blue;
}

div
{
	text-align : center;
}

scr
{
	border : 10px inset maroon;
	margin : 10px ;
	padding : 10px ;
	font-weight: bold;
	text-align : center;
	width : 100px ;
	height : 100px ;
	background-color: blue;
	font-size : 20px;
	color: #000200;
	background: #f2ffff;
}

.col-lg-4 p
{
	margin : 20px;
	font-size: 25px ;
	color: #000200;
	font-weight: bold;
}

image
{

	/* text-align: center; */
}

.choose
{
	font-weight: bold;
	width: 100px; height: 40px;
	text-align: center;
	margin : 30px ;
	border-color : maroon;
	border-radius : 10px ;
	color: #000200;
	background : #f2ffff;
}
